RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHANNEL_ID=your_telegram_channel_id
DOMAIN=https://your-vercel-project-name.vercel.app
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/discord_bot_db
